body{
    margin: 0px;

}

h1{
    font-size: clamp(5px, 8vw, 80px); 
    color: white;
    margin: 0px;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    overflow:hidden;
    white-space: nowrap;
}

header{
    display: flex;
    background-color: #BE5643;
    padding-right: 14px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.movie-card{
    display: flex;
    width: 95vw;
    height: 80px;
    padding: 8px;
}

.movie-card-content{
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
}


h2{
    font-size: 24px;
    font-family: "Helvetica";
    text-decoration: underline;
    margin: 0px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
}

.movie-info{
    font-size: 16;
    font-family: "Lucida Console";
    color: rgb(109, 109, 109);
    margin: 0px;
    margin-bottom: 12px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
}

.movie-image{
    height: 100%;
}

button{
    height: 54px;
    width: 62px;
    border: 0px;
    border-radius: 20px;
    background-color: #AA4A39;
    -webkit-box-shadow: 0px 26px 0px 0px rgba(101,38,26,1);
    -moz-box-shadow: 0px 26px 0px 0px rgba(101,38,26,1);
    box-shadow: 0px 10px 0px 0px rgba(101,38,26,1);
    margin-left: 10px;
}

button:hover {
    background-color: #c97351;

}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(101,38,26,1);
    transition: transform 0.1s ease;
    transform: translateY(8px);
}

.mobile-bookmark-button{
    height: 60%;
}

.bookmark-button{
    display: none;
}

.button-image{
    height: 70%;
}

@media only screen and (min-width: 500px) {
    .movie-card{
        margin: 20px;
        background-color: rgb(240, 240, 240);
        width: 85vw;
        height: 200px;
        border-radius: 20px;
        padding: 28px;

        -webkit-box-shadow: 0px 7px 6px 0px rgba(186,186,186,1);
        -moz-box-shadow: 0px 7px 6px 0px rgba(186,186,186,1);
        box-shadow: 0px 7px 6px 0px rgba(186,186,186,1);
    }

    .movie-info{
        color: black;
        font-size: 20px;
    }

    .mobile-bookmark-button{
        display: none;
    }

    button{
        height: 100px;
        width: 100px;
    }

    .bookmark-button{
        display:block;
        height: 100px;
        min-width: 100px;
        max-width: 100px;
    }
  }